# 数据库
DATABASE_URL=
PG_USER=
PG_PASSWORD=
PG_DB=
# 大模型 API Keys
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
QWEN_API_KEY=
DEEPSEEK_API_KEY=
# 联网搜索
TAVILY_API_KEY=
# 向量配置
EMBED_API_KEY=
EMBED_BASE_URL=
EMBED_MODEL_NAME=
# Langfuse 观测平台
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
